*
!gradlew
!gradle
!build.gradle
!settings.gradle
!server/dto/build.gradle
!server/dto/src
!server/core/build.gradle
!server/core/src
!server/spring/build.gradle
!server/spring/src
!server/spotify-adapter/build.gradle
!server/spotify-adapter/src
!server/event-store/build.gradle
!server/event-store/src
!server/user-id-mapping-service/build.gradle
!server/user-id-mapping-service/src
